<configuration scan="true">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<!-- default output format, not using cause blackboard stdout gives info already -->
			<!-- <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern> -->
			<pattern>B2 Template %-5level - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Example for silencing logging in a package specific way -->
	<!--<logger name="org.quartz" level="WARN" />-->

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
